// background colors
$bg-gray: #F8F9FA;
$bg-white: #ffffff;

// text color
$text-white: #ffffff;
$text-orange: #F3976B;

//colors
$primary-color:#0C3944;
$color-accent-cian:#196C85;
$color-accent-green:#27AE60;
$color-accent-lightGreen:#70AF90;
$color-accent-yellow:#FFF30D;
$color-accent-lightOrange:#F3976B;
$color-accent-orange:#E67919;
$color-accent-red:#D93A3A;
$color-accent-purple:#9B084F;