@use "./colors.scss" as *;
@use "./typography.scss" as *;

.c-bleu {
  color: $primary-color;
}
.c-yellow {
  color: $color-accent-yellow;
}
.c-white {
  color: $text-white;
}

.button-bg-orange {
    width: 11.5rem;
    padding: 0.5rem 1rem;
    color: $text-white;
    background-color: $color-accent-lightOrange;
    border-radius: 5px;
    font-size: $p-mobile;
    transition: 300ms;
  &:hover {
    filter: brightness(90%);
  }
}

.button-bg-a0 {
width: 11.5rem;
padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid $color-accent-lightOrange;
  background-color: #f3966b00;
  color: $color-accent-lightOrange;
  font-size: $p-mobile;
  transition: 300ms;
  &:hover {
    background-color: $color-accent-lightOrange;
    color: $text-white;
  }
}
