@use "./colors.scss" as *;
@use "./typography.scss" as *;

.c-blue {
  color: $primary-color;
}
.c-yellow {
  color: $color-accent-yellow;
}
.c-white {
  color: $text-white;
}

.button-bg-orange {
    width: 12rem;
    padding: 0.75rem 1.25rem;
    color: $text-white;
    background-color: $color-accent-lightOrange;
    border-radius: 5px;
    font-size: $p-mobile;
    transition: 300ms;
  &:hover {
    background-color: $color-accent-orange;
  }
}

.button-bg-a0 {
  width: 12rem;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  border: 2px solid $color-accent-lightOrange;
  background-color: #f3966b00;
  color: $color-accent-lightOrange;
  font-size: $p-mobile;
  transition: 300ms;
  &:hover {
    background-color: $color-accent-lightOrange;
    color: $text-white;
  }
}

@media screen and (min-width: 926px) {

    .button-bg-orange {
        font-size: $p-desktop;
        width: 14.75rem;
    }
    .button-bg-a0 {
        font-size: $p-desktop;
        width: 14.75rem;
    }
}