// font family
$titles-font: "Raleway", sans-serif;
$text-font: "Inconsolata", sans-serif;

// mobile sizes
$h1-mobile: 2.25rem;
$h2-mobile: 1.75rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.25rem;
$p-mobile: 1rem;
$a-mobile: 0.75rem;

// desktop sizes
$h1-desktop: 5.2rem;
$h2-desktop: 4.2rem;
$h3-desktop: 2.4rem;
$h4-desktop: 2.2rem;
$p-desktop: 1.6rem;
$a-desktop: 1.4rem;