@use "../../sass/global" as *;

.card_admin_user {
  width: 20rem;
  background-color: $bg-grey;
  padding: 3rem;
  margin: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow : 1px 5px 10px -1px rgba(0, 0, 0, 0.25);
  right: 0.2rem;
}

.admin_badge_admin_user {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-accent-red;
  color: $text-white;
  padding: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.8rem;
  font-size: $p-mobile;
}

.user_badge_admin_user {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-accent-cian;
  color: $text-white;
  padding: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.8rem;
  font-size: $p-mobile;
}


.avatar_container_admin_user {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: $text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar_admin_user {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.info_admin_user {
  text-align: center;
}

.name_admin_user {
  font-size: $h3-mobile;
  margin: 0;
  color : $color-accent-cian;
}

.email_admin_user,
.phone_admin_user,
.country_admin_user {
  display: inline-block;
  margin: 0.2rem;
  font-size: $p-mobile;
}

.job_admin_user,
.role_admin_user {
  display: inline-block;
  margin: 0.5rem;
}

.card_actions_admin_user {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.action_edit_admin_user,
.action_delete_admin_user {
  font-size: 1.2rem;
  color: $primary-color;
  margin-right: 0.3rem;
  cursor: pointer;
}

.action_edit_admin_user:hover {
  color: $color-accent-green;
}

.action_delete_admin_user:hover {
  color: $color-accent-red;
}

.tag_job_admin_user {
  color: $text-white;
  background-color: $color-accent-cian;
  border-radius: 30px;
  padding: 0 0.8rem;
  font-size: $p-mobile;
}

.tag_role_admin_user {
  color: $text-white;
  background-color: $color-accent-red;
  border-radius: 30px;
  padding: 0 0.8rem;
  font-size: $p-mobile;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  margin-top: 0;
}

.modal_buttons {
  margin-top: 1.5rem;
}

.modal_buttons button {
  padding: 0.5rem 1rem;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.modal_buttons button:hover {
  background-color: #1f6eb2;
}

.p_error_modal {
  text-align: center;
  color: red;
}


@media screen and (min-width: 926px) {

  .card_admin_user {
    width: 20rem;
    padding: 2rem;
    margin: 1rem;
  }

  .admin_badge_admin_user {
    font-size: $p-desktop;
  }

  .user_badge_admin_user {
    font-size: $p-desktop;
  }

  .name_admin_user {
    font-size: $h3-desktop;
    margin: 0;
    color : $color-accent-cian;
  }

  .email_admin_user,
  .phone_admin_user,
  .country_admin_user {
    font-size: $p-desktop;
  }

  .tag_job_admin_user {
    font-size: $p-desktop;
  }
  
  .tag_role_admin_user {
    font-size: $p-desktop;
  }

}