@use "../../sass/global" as *;

article {
  width: 100vw;
  text-align: center;
  hr {
    margin-top: 2rem;
    width: 100vw;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
  .articleText {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin: 2rem 0;
    }
    p {
      width: 18rem;
    }
  }
}

@media screen and (min-width: 926px) {
  article {
    .articleText {
      p {
        width: 22rem;
      }
    }
  }
}
