@use "../../../sass/global" as *;

.background-project{
    background-color: $color-accent-carmin;
    padding-top:10rem;
    height:100vh;
    border-radius: 5px 5px 0px 0px
}


.launch_project_containers{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./src/assets/pills/Pills_mobile_project_creation.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title_select_country{
    margin-top :2rem;
    font-size: $p-mobile;
}

.title_project{
    text-align: center;
}

.input_title_project{
    background-color:rgba(217, 217, 217, 0.2);
    border-bottom: 2px solid rgba(255, 243, 13, 1);
    position:relative;
    margin-top:3rem;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    height: 2.875rem;
    width: 14.875rem;
}

.custom-icon{
    background-color:rgba(217, 217, 217, 0.2);
    width: 2rem;
    height: 1.5rem;
}





