@use "../../sass//global" as *;

body {
    background-color: $bg-grey;
    h1 {
        size: $h1-mobile;
    }
    p {
        size: $p-mobile;
    }
    a {
        size: $a-mobile;
    }
}
.titreprofil {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    size: $h1-mobile;
    color: $primary-color;
    font-family: $titles-font;
}

.profile-image {
    width: 130px;
    height: 130px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border: 6px solid $color-accent-cian;
    border-radius: 50%;
}
.crayonimg {
    background-color: $color-accent-cian ;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 5px;
    position: absolute;
    left: 55%;
    top: 22%;
    cursor: pointer;
}
label {
    font-weight: bold;
}
.formProfile {
    text-align: left;
    width: 60%;
    margin: 50px auto 0;
    color: $primary-color;
}
.profile-input {
    border: 1px solid grey;
    border-radius: 5px;
    display: block;
    height: 40px;
    width: 100%;
    margin: 10px 0;
    font-family: $titles-font;
    text-indent: 10px;
}
.profile-input[readonly] {
    cursor: not-allowed;
}

button {
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.boutonAS {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.annuler {
    padding: 10px;
    background-color: $bg-grey;
    color: $color-accent-lightOrange;
    border: 1px solid $color-accent-lightOrange;
    font-family: $titles-font;
    
}
.sauvegarder {
    padding: 10px;
    background-color: $color-accent-lightOrange;
    font-family: $titles-font;
}

.editer {
    padding: 10px;
    margin-left: 250px;
    border: 1px solid transparent;
    background-color: $color-accent-lightOrange;
    font-family: $titles-font;
}

.notifcourriel {
    width: 60%;
    margin: 25px auto 0;
    color: $primary-color;
    font-size: 1.1rem;
}
.toggle-container {
    position: relative;
    display: inline-block;
    margin-left: 20%;
    margin-top: 20px;
}
.toggle-checkbox {
    display: none;
}
.toggle-label {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s ease;
  
}  
.toggle-inner {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
}


.toggle-switch {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 5px;
    transition: left 0.3s ease;
}
  
.toggle-checkbox:checked + .toggle-label {
    background-color: #4CAF50;
}
  
.toggle-checkbox:checked + .toggle-label .toggle-inner {
    left: 50%;
}
  
.toggle-checkbox:checked + .toggle-label .toggle-switch {
    left: calc(100% - 5px);
}
  

@media screen and (min-width: 926px) {
    body {
        h1 {
            size: $h1-desktop;
        }
        p {
            size: $p-desktop;
        }
        a {
            size: $a-desktop;
        }
    }
    .titreprofil {
        padding-right: 30px;
    }
    .profile-form {
        display: flex;
    }
    .profile-input {
        text-align: left;
        width: 100%;
    }
    .label-input {
        padding: 5px;
        width: 35%;
    }
    .profile-file {
        padding-top: 50px;
        width: 40%;  
    }
    .profile-image {
        width: 200px;
        height: 200px;
    }
    .crayonimg {
        left: 23%;
        top: 47%;
    }
    .editer {
        display: flex;
        margin-left: 820px;
    }
    .boutonAS {
        width: 20%;
        margin-left: 582px;
        align-items: center;
    }
    .notifs {
        margin-right: 400px;  
    }
    

}