@use "../global" as *;

nav{
    width: 100vw;
    background-color: $color-accent-purple;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    h2{
        color: $text-white;
    }
}

@media screen and (min-width: 926px) {
    nav{
        background-color: $primary-color;
    }
}