@use "../../../sass/global" as *;

.header{
    background-image: url(./src/assets/pills/Pills_mobile_project_guide.png);
    background-color: $color-accent-carmin;
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 89% 97%, 74% 100%, 64% 97%, 49% 100%, 40% 97%, 24% 100%, 14% 97%);
}

.header ul {
    display:flex;
    justify-content: space-evenly;
    padding:2rem;
}

.notCurrentLi{
    font-size:14px;
    border:1px solid white;
    border-radius: 100px;
    padding:0.2rem 0.5rem;
    background-color: white;
    font-weight: 700;
}

.header h1{
    text-align: center;
    padding:1.5rem;
    color:$color-accent-yellow;
}

.header img{
    height:10px;
    width:8px;
    margin-top:7px;
    
}

.currentLi{
    background-color: $color-accent-yellow;
    font-size:14px;
    border:1px solid $color-accent-yellow;
    border-radius: 100px;
    padding:0.2rem 0.5rem;
    font-weight: 700;
}

.bloc-image{
    text-align: center;
    padding:1rem;
}

.bloc-image p{
    padding:0.5rem;
}

.editor-container{
    text-align: center;
}

.editor-container  p{
    padding:0.5rem;
}

.quill{
    padding-bottom:20%;
}

.blueButton{
    width: 8rem;
    padding: 0.3rem 0.1rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color:$primary-color;
    font-size: $p-mobile;
    transition: 300ms;
    cursor: pointer;
    margin: 2rem auto 2rem auto;
    display:flex;
    justify-content: center;
    text-align: center;
    &:hover {
      background-color: $color-accent-yellow;
      color: $primary-color;
    }
}

    .missingFields{
        color:$color-accent-red;
        margin:2rem;
    }

    @media screen and (min-width: 926px) {
        .header ul {
            justify-content: center;
            gap:1rem;
        }

        .blueButton{
            margin:1rem auto 3rem auto;
        }

        .missingFields{
            margin: 0 35rem 3rem 35rem;
        }

    }