@use "../../sass//global" as *;

footer{
    width:100vw;
    height:10rem;
    background:$color-accent-cian;
    color:$text-white;
    bottom:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenu-footer h1{
    font-weight:700px;
    font-size:20px;
    margin-bottom:5%;
}

.contenu-footer ul li a{
    color:$text-white;
    font-size:14px;
    font-weight:lighter;
    line-height: 20px;
}

.contenu-footer{
    display:flex;
    justify-content:space-around;
    height:80%;
    padding-top:5%;


}

.iconesfooter{
    display:flex;
    flex-direction:column;
}

.iconeinsta{
    height:30px;
    width:30px;
}

.iconefacebook{
    height:35px;
    width:26px;
}

.bloc-footer{
    margin-right:1%;
}

.bloc-footer:nth-child(2n){
    width:30%;
}


@media screen and (min-width: 926px){
    .contenu-footer{
        padding-top:0.5%;
        width:30%;
    }
    .iconesfooter{
        flex-direction: column;
    }
    .contenu-footer{
        justify-content: space-evenly;
    }
}